/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"); */

@import "tailwindcss";

@theme {
  /* --font-OpenSans: "Open Sans", sans-serif; */
  /* --font-inter: var(--inter); */

  --color-bgColor: #0d0d1f;
  --color-navBg: #0f142ed9;
  --color-heroBg: #0c0c48aa;
  --color-skillBg: #14134145;
  --color-formMain: #131332;
  --color-formBg: #363659;
}

@layer base {
  section {
    @apply py-16 container;
  }

  html {
    overflow-x: hidden;
  }
}

@utility container {
  padding-inline: 2rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}

@layer components {
  /* .section {
    @apply py-16;
  } */
}
